:root {
  --primary-color: #1e1e1e; /* Графитово-серый (фон, карточки товаров, футер)*/
  --accent-color: #c4e538; /* Лаймовый (кнопки, иконки, интерактивные элементы)*/
  --secondary-color: #e5e5e5; /* Светло-серый ( второстепенный текст, разделительные линии)*/
  --dark-color: #333333; /* Темно-серый (блоки контента, хедер)*/
  --highlight-color: #d0ff14; /* Желто-лаймовый (дополнительные акценты для привлечения внимания)*/
}
